.body {
  display: flex;
  margin-top: 50px;
  column-gap: 50px;
}
.avatar {
  position: relative;
  z-index: 2;
  overflow: hidden;
  height: 270px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  width: 270px;
}

.profilePhoto {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  width: 270px;
}

.avatarChange {
  padding: 0.5rem;
  background: none;
  border: 1px solid #eee;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.avatarEdit {
  position: absolute;
  background: none;
  border: none;
  right: -5px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease 0s;
}

.avatarEdit svg {
  width: 25px;
  height: 25px;
}

.avatarChange:hover {
  /* background: rgba(223, 217, 217, 0.274); */
}
.avatarChange:disabled {
  background: rgba(223, 217, 217, 0.274);
}
.avatar:hover {
  opacity: 0.9;
}
.avatar:hover ~ .avatarEdit {
  display: block;
  opacity: 1;
  visibility: visible;
}
.avatar:hover ~ .avatarChange {
  transform: translate(0, -47px);
  background: black;
  border: none;
  color: none;
}

.newMessage {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.newMessage:hover {
  background: rgb(131, 184, 228);
}
.newMessage:focus {
  outline: 1px solid rgb(131, 184, 228);
}
