.paginatonWrapper {
  display: flex;
  align-items: center;
}

.activePage {
  font-weight: 700;
  font-size: 18px;
  z-index: 1;
  position: relative;
  transition: all 0.3s ease 0s;
}
.activePage::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  height: 30px;
  transform: translate(-50%, -50%);
  width: 30px;
  border-radius: 100%;
  background: orange;
}
.paginatonPage {
  display: flex;
  justify-content: end;
  margin-top: 1.5rem;
  margin-right: 1rem;
  text-align: right;
  margin-left: auto;
  transition: all 0.3s ease 0s;
}
.paginatonPage span {
  padding: 7px 13px;
  cursor: pointer;
}
.paginatonPage span:hover {
}

.buttonNext {
  border-radius: 100%;
  background: orange;
  border: none;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  margin: 0 1rem;
}

.buttonPrev {
  margin: 0 1rem;
  border-radius: 100%;
  background: orange;
  border: none;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  transform: rotate(180deg);
}
