.post {
  padding: 1rem;
  background: rgba(151, 226, 247, 0.11);
}
.post:not(:last-child) {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.body {
  display: flex;

  gap: 3rem;
}
.avatar {
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  flex: 0 0 60px;
}
.content {
  margin-top: 10px;
}

.tools {
  margin-top: 1rem;
  text-align: right;
}
.tools > span {
  cursor: pointer;
  margin-left: 2rem;
  display: inline-flex;
  align-items: center;
}
.count {
  font-size: 14px;
  padding-right: 5px;
  color: rgb(65, 60, 60);
  font-weight: 900;
  display: inline-flex;
  align-items: flex-end;
  gap: 0.2rem;
}
.count svg {
  width: 15px;
  height: 15px;
}
