.list {
  padding-bottom: 30px;
  height: 100%;
  position: relative;
}
.item {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background: rgba(122, 191, 212, 0.164);
  border-radius: 5px;
}
.profile {
  flex: 0 0 152px;
}
.item p {
  margin: 0;
}
.profile button {
  display: block;
  width: 100%;
  padding: 0.4rem 1rem;
}
.profile img {
  width: 100%;
  object-fit: contain;
  height: 120px;
}
.item:not(:last-child) {
  margin-bottom: 1rem;
}

.name {
  font-size: 25px;
}

.activePage {
  font-weight: 700;
  font-size: 18px;
  z-index: 1;
  position: relative;
}
.activePage::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  height: 30px;
  transform: translate(-50%, -50%);
  width: 30px;
  border-radius: 100%;
  background: orange;
}
.paginatonPage {
  margin-top: 1.5rem;
  margin-right: 1rem;
  text-align: right;
  transition: all 0.3s ease 0s;
}
.paginatonPage span {
  padding: 7px 13px;
  cursor: pointer;
}
.paginatonPage span:hover {
}
