.list {
  padding-top: 40px;
  padding-bottom: 30px;
  height: 100%;
  position: relative;
}
.item {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  /* background: rgba(122, 191, 212, 0.164); */
  border-radius: 5px;
}
.profile {
  flex: 0 0 152px;
}
.item p {
  margin: 0;
}

.profile button {
  display: block;
  width: 100%;
  padding: 0.4rem 1rem;
  background: none;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
}
.profile button:disabled {
  background: gray;
}
.profile button:hover:disabled {
  background: gray;
}
.profile button:disabled .icon {
  display: none;
}

.profile img {
  width: 100%;
  object-fit: contain;
  height: 120px;
}
.icon {
  position: absolute;
}
.icon svg {
  transition: all 0.3s ease 0s;
  width: 12px;
  height: 12px;
  transform: translateX(-500px);
}

.profile .follow {
}
.profile .follow:hover {
  background: #00cc66;
}
.profile .follow:hover > .icon svg {
  transform: translate(-50px);
}

.profile .unfollow {
  background: #0099cc;
}
.profile .unfollow:hover {
  background: #cc0033;
}
.profile .unfollow:hover > .icon svg {
  transform: translate(-50px);
}
.item:not(:last-child) {
  margin-bottom: 1rem;
}

.name {
  font-size: 25px;
}

.activePage {
  font-weight: 700;
  font-size: 18px;
  z-index: 1;
  position: relative;
}
.activePage::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  height: 30px;
  transform: translate(-50%, -50%);
  width: 30px;
  border-radius: 100%;
  background: orange;
}
.paginatonPage {
  margin-top: 1.5rem;
  margin-right: 1rem;
  text-align: right;
  transition: all 0.3s ease 0s;
}
.paginatonPage span {
  padding: 7px 13px;
  cursor: pointer;
}
.paginatonPage span:hover {
}
