body {
  margin: 0;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
  margin-top: 10px;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: 100%;
}
body {
  background-color: rgba(0, 255, 255, 0.062);
  background-color: #330033;
  background-color: #996666;
  background-color: #0099ff;
  font-family: 'Gill Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wrapper {
  display: grid;
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  min-height: 100vh;

  grid-template-columns: minmax(250px, max-content) 1fr;
  grid-template-rows: max-content 1fr;
  grid-gap: 10px;
  grid-template-areas:
    'header header'
    'aside main'
    'footer footer';
}
.content {
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  grid-area: main;
  border: 1px solid #eee;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.visibility-hidden {
  display: none;
}
