.navigation {
  font-size: 18px;
  grid-area: aside;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
}
.item:last-child {
  margin-top: 50px;
}

.item a {
  display: block;
  padding: 0.4rem 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-direction: row-reverse;
  transition: all 0.3s ease 0s;
}
.item a svg {
  width: 1rem;
  height: 1rem;
  transition: all 0.3s ease 0s;
}
.item a.active {
  color: rgb(0, 140, 255);
  font-weight: 600;
}
.item a.active svg {
  color: rgb(255, 0, 140);
}
.item a:hover {
  border-bottom: 1px solid #ccc;
}
.item a:hover svg {
  transform: translateY(-5px);
}
